*.sw?
*~
.DS_Store
coverage
rdoc
pkg
.spec_fail
zk/src/c/*.la
zk/src/c/*.lo
zk/src/c/*.o
zk/src/c/.deps
zk/src/c/.libs
zk/src/c/Makefile
zk/src/c/autom4te.cache
zk/src/c/cli_mt
zk/src/c/cli_st
zk/src/c/config.h
zk/src/c/config.log
zk/src/c/config.status
zk/src/c/libtool
zk/src/c/load_gen
zk/src/c/stamp-h1
